NODE_ENV=development

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=workbiflow_ats_db
DB_SYNCHRONIZE=true
DB_SSL=false

DEFAULT_COMPANY_SLUG=peak-performance
CDN_BASE_URL=http://localhost:3000

#SendGrid configuration
SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_SENDER=your_sendgrid_sender@example.com
MAIL_FROM_NAME=Workbiflow ATS
# Note: Replace the SENDGRID_API_KEY and SENDGRID_SENDER values with your actual SendGrid API key and sender email address before using this configuration.