<div class="content">
  <p>Bonjour {{firstName}},</p>
  <p>
    Nous vous contactons pour vous informer que nous avons décidé de passer à l'étape finale de notre processus de recrutement 
    avec vous, à savoir la transmission de votre contrat de travail.
  </p>
  <p>
    Vous recevrez très prochainement un document contenant tous les détails relatifs à votre embauche, y compris 
    le poste, la rémunération, les avantages et les conditions de travail.
  </p>
  <p>
    Veuillez examiner attentivement le contrat et nous le retourner dûment signé dans les délais impartis.
  </p>
  <p>Nous nous réjouissons d'accueillir un nouveau membre dans notre équipe!</p>
  <p>Cordialement,<br />L'équipe de recrutement.</p>
</div>
