<div class="content">
  <p>Bonjour {{firstName}},</p>
  <p>
    Votre candidature progresse bien dans notre processus de recrutement. Nous vous demandons maintenant de passer 
    une évaluation de vos compétences.
  </p>
  <p>
    Ce test nous permettra de vérifier vos aptitudes techniques et professionnelles pour le poste visé.
  </p>
  <p>
    Vous recevrez très prochainement les détails et les instructions pour accéder au test. 
    Merci de nous faire connaître votre disponibilité.
  </p>
  <p>Cordialement,<br />L'équipe de recrutement.</p>
</div>
