<div class="content">
  <p>Bonjour {{firstName}},</p>
  <p>
    Nous sommes ravis de vous inviter à un entretien dans le cadre de notre processus de recrutement.
  </p>
  <p>
    Cet entretien nous permettra de mieux vous connaître et de discuter de vos compétences et de votre expérience 
    en rapport avec le poste.
  </p>
  <p>
    Notre équipe vous contactera très prochainement pour convenir d'une date et d'une heure qui vous conviennent.
  </p>
  <p>Nous vous remercions de votre intérêt et nous nous réjouissons de vous rencontrer.</p>
  <p>Cordialement,<br />L'équipe de recrutement.</p>
</div>
