<div class="content">
  <p>Bonjour {{firstName}},</p>
  <p>
    Nous vous remercions vivement d'avoir participé à notre processus de recrutement et de l'intérêt que vous avez 
    manifesté pour notre entreprise.
  </p>
  <p>
    Après examen attentif de votre candidature, nous regrettons de vous informer que nous avons décidé de poursuivre 
    avec d'autres candidats dont le profil correspondait légèrement mieux aux critères du poste à ce moment.
  </p>
  <p>
    Cela ne diminue en rien la qualité de votre profil. Nous vous encourageons à consulter régulièrement 
    nos offres d'emploi et à nous recontacter pour des postes futurs qui conviendrait à votre profil.
  </p>
  <p>Nous vous souhaitons beaucoup de succès dans vos futures démarches professionnelles.</p>
  <p>Cordialement,<br />L'équipe de recrutement.</p>
</div>
